* {
    font-family: 'Times New Roman', Times, serif;
    color: #293e30;
    font-weight: bold;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    background-color: #eee;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 4rem;
}

.container .box1 h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.container .box1 span {
    font-size: 2rem;
}

.container .box2 {
    font-size: 2rem;
}

.container .box2 table {
    text-align: left;
    border-spacing: 1rem;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .container {
        flex-direction: column;
    }

    .container .box1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    td:nth-child(2) {
        text-align: right;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}